.button.primary {
  width: 18.5rem;
  min-height: 3.5rem;
  border-radius: 100px;
  background: linear-gradient(90deg, #00b39b 0%, #3b71f7 100%);
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button.primary:hover {
  opacity: 0.9;
}

.button:active {
  transform: scale(0.98);
}
